.journal__main-content{
    display: flex;
}

.journal__sidebar{
    background-color: $dark-grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    width: 450px;
}

.journal__sidebar-nav{
    display: flex;
    justify-content: space-around;
}

.journal__sidebar-nav h3{
    font-weight: lighter;
}

.journal__new-entry{
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;

    transition: color .3 ease-in;

    &:hover{
        color: lighten($color: $primary, $amount: 10);
    }
}