.notes__main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background-color: $primary;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea{
    border: none;

    &:focus{
        outline: none;
    }
}

.notes__title-input{
    color: $dark-grey;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea{
    color: $dark-grey;
    font-size: 20px;
    resize: none;
    flex: 1 1 auto;
}

.notes__image img{
    width: 100%;
}

